.card {
    width: 20rem; /* Define a largura dos cards */
    height: 42rem; /* Define a altura dos cards */
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px lightgray;
  }
  .card-img-top {
    width: 100%; /* Largura da imagem igual à largura do card */
    height: 30rem; /* Define a altura da imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço disponível */
  }
  .card-body {
    flex-grow: 1; /* Faz o corpo do card crescer para ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .card {
    margin: 10px;
  }
